body {
    background-color: #c0c0c0;
}

#main {
    position: fixed;
    align-content: center;
    top: 120px;
    left: 1%;
    width: 400px;
    height: 640px;
    border: #000000;
}

#main-head {
    background-color: #e38d13;
    text-align: center;
}

#main2 {
    position: fixed;
    left: 25.5%;
    top: 120px;
    width: 400px;
    height: 640px;
    align-content: center;
    border: #000000;
}

#main2-head {
    background-color: #e38d13;
    text-align: center;
}

#main3 {
    position: fixed;
    right: 1%;
    top: 120px;
    width: 400px;
    height: 640px;
    align-content: center;
    border: #000000;
}

#main3-head {
    background-color: #e38d13;
    text-align: center;
}

#main4 {
    position: fixed;
    right: 25.5%;
    top: 120px;
    width: 400px;
    height: 640px;
    align-content: center;
    border: #000000;
}

#main4-head {
    background-color: #e38d13;
    text-align: center;
}

#main-body {

}

#toolbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 64px;
    background-color: #e38d13;
}

#butt1 {
    position: fixed;
    left: 10%;
    width: 70px;
    height: 40px;
}
#butt2 {
    position: fixed;
    left: 47.5%;
    width: 70px;
    height: 40px;
}
#butt3 {
     position: fixed;
     right: 10%;
     width: 70px;
     height: 40px;
 }
